@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Varela+Round&display=swap');



body {
    background-color: antiquewhite;

}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Poppins', sans-serif;
}



nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;

}

nav ul li {
    padding: 0 12px;
}


.brand img {

    width: 48px;
    padding: 0 8px;
}


.brand {

    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}